mixin file(file)
    a(href=`/${file.id}`) 
        .file_thumb
            img(src=`/upload/convertToJpg/${file.fileUrl.split("/")[2].split(".")[0]}.jpg`, alt="")
        .file_info
            span.file_info__title=file.title 
            span.file_info__subject=file.subject
            span.file_info__campus=file.campus
            span.file_info__mainTypeAndSemester #{file.mainType} | #{file.semester}
