mixin file(file)
    a(href=`/${file.id}`) 
        .file_thumb
            img(src=``, alt="")(data-title=file.title)
        .file_info
            span.file_info__title=file.title 
            span.file_info__subject=file.subject
            span.file_info__campus=file.campus
            span.file_info__mainTypeAndSemester #{file.mainType} | #{file.semester}

block script 
    script(src="/static/js/fileThumbnail.js") 