mixin file(file)
    a(href=`/${file.id}`) 
        .file_thumb
            if file.thumbnail.includes("s3")
                img(src=file.thumbnail)
            else if file.thumbnail.includes("upload/thumbnail")
                img(src=file.thumbnail)
            else
                img(src='')(data-title=file.title)
        .file_info
            span.file_info__title=file.title 
            span.file_info__subject=file.subject
            span.file_info__campus=file.campus
            span.file_info__mainTypeAndSemester #{file.mainType} | #{file.semester}

block script 
    script(src="/static/js/fileThumbnail.js") 