extends base

block content 
    div.form_div.from_edit
        div
            form.form(method="post", enctype="multipart/form-data") 
                input.input_file(type="file", id="uploadThumbnail", name="uploadThumbnail", accept="image/*")
                select(name="type", required=true, id="select", data-id=file._id, disabled)
                    option(value=file.mainType) #{file.mainType}
                input(type="text", placeholder="학교명", name="campus",required=true, value=file.campus)
                input(type="text", placeholder="수업명", name="subject",required=true, value=file.subject)
                input(type="text", placeholder="교수명", name="professor",required=true, value=file.professor)
                select(name="semester", required, id="sell-form__semester", data-semester=file.semester)
                    option(value="수강학기를 선택해주세요.", disabled) 수강학기를 선택해주세요.
                input(type="number", placeholder="가격", name="price",required=true, value=file.price)
                input(type="text", placeholder="판매글 제목 (100자 이하", name="title", max="100", min="2",required=true, value=file.title)
                textarea(name="description", cols="100", rows="10", placeholder="판매할 자료에 대한 구체적인 설명 (1500자 이하)",max="1500", min="2", required=true) #{file.description}
                input.input_filename(class="upload-name" value="첨부파일" placeholder="첨부파일")
                .div_filename
                    label(for="uploadThumbnail") 이미지 선택
                input.input_submit(type="submit", value="등록하기")

block script 
    script(src="/static/js/edit.js") 
