extends base

block content 
    img(src=`upload/convertToJpg/${file.fileUrl.split("/")[2].split(".")[0]}.jpg`, width="400")
    h1 #{file.title}
    h3 #{file.price} 원
    ul 
        li #{file.subject}
        li #{file.professor}
        li #{file.campus}
    ul 
        li #{file.mainType}
        li #{file.subType}
        li #{file.semester}
        li #{file.createdAt.toLocaleDateString()}
    ul 
        li #{file.description}
    a(href=`/sell/${file.id}`) 수정하기
    br
    a(href=`/delete/${file.id}`) 삭제하기 
    br
    a(href=`/${file.id}/download`) 다운로드 