extends base

block content 
    small #{errorMessage}
    form(method="post") 
        select(name="type", required=true)
            option(value="-1", selected, disabled) 자료 유형 선택
            option(value="과제") 과제
            option(value="필기") 필기 
            option(value="시험정보") 시험정보
        input(type="text", placeholder="학교명", name="campus",required=true)
        input(type="text", placeholder="수업명", name="subject",required=true)
        input(type="text", placeholder="교수명", name="professor",required=true)
        input(type="text", placeholder="학기", name="semester",required=true)
        input(type="number", placeholder="가격", name="price",required=true)
        input(type="text", placeholder="판매글 제목 (100자 이하", name="title", max="100", min="2",required=true)
        textarea(name="description", cols="100", rows="10", placeholder="판매할 자료에 대한 구체적인 설명 (1500자 이하)",max="1500", min="2", required=true)
        input(type="submit", value="등록하기")